<ion-toolbar id="top-toolbar">
  <ion-buttons>
    <button
      ion-button
      *ngFor="let color of availableColors"
      (click)="changeColor(color)">
      {{color}}
    </button>
  </ion-buttons>
</ion-toolbar>
<canvas #canvasDraw></canvas>
<ion-toolbar id="bottom-toolbar">
  <ion-buttons>
    <button ion-button (click)="changeSize(5)">Small</button>
    <button ion-button (click)="changeSize(10)">Medium</button>
    <button ion-button (click)="changeSize(20)">Large</button>
    <button ion-button (click)="changeSize(50)">Extra Large</button>
  </ion-buttons>
</ion-toolbar>
